<script setup lang="ts">
/**
 * Imports BrowseQuizStore to keep track of through what button the user accesses the
 * browse quizzes page.
 * Imports useRouter to enable the page to push the user to other pages when certain buttons are pressed
 */
import {BrowseQuizStore} from '@/stores/BrowseQuizStore'
import { useRouter } from 'vue-router'

/**
 * Initiates the router to allow for use with router.push() commands
 */
const router = useRouter();

/**
 * Navigates the user to the MakeQuiz page
 */
const navigateToCreateQuiz = () => {
  router.push('/MakeQuiz');
}

/**
 * Navigates the user to the BrowseQuizes page whilst also updating the AccessedFrom field of
 * the BrowseQuizStore which the BrowseQuizes component then uses to determine what quizzes to show in this
 * instance all quizzes;
 */
const navigateToBrowseQuizzes = () =>{
  BrowseQuizStore().setAccessedFrom("Browse Quizzes")
  router.push('/BrowseQuizes')
}

/**
 * Navigates the user to the BrowseMyQuizesPage whilst also updating the AccessedFrom field of
 * the BrowserQuizStore which the BrowseQuizes component the uses to determine what quizzes to show, in
 * this instance all quizzes that the user has made
 */
const navigateToMyQuizzes = () => {
  BrowseQuizStore().setAccessedFrom("My Quizzes")
  router.push('/BrowseMyQuizes')
}

</script>

<template>
    <div class = "buttonRow">
      <button data-testid="MakeQuizBtn" class = "button"  @click="navigateToCreateQuiz()">Create Quiz</button>
      <button data-testid="BrowseQuizzesBtn" class = "button" id = "BrowseQuizBtn" @click="navigateToBrowseQuizzes()">Browse Quizes</button>
      <button data-testid="MyQuizzesBtn" class = "button" id = "MyQuizzesBtn" @click="navigateToMyQuizzes()">My Quizes</button>
    </div>
</template>

<style scoped>

.buttonRow{
  background-image: url("../../assets/Brick.png");
  border: 3px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  padding: 10px;
  margin: 3vh;
  height: 10vh;
  flex-grow: 1;
  min-width: 300px;
  background-color: var(--color-button);
  border: 0;
  color: var(--color-text-light);
  font-size: 2.5vh;
}

.button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


</style>