<script setup lang="ts">
import { useRouter } from 'vue-router'

/**
 *  Sets up the router to allow the components get started button to
 *  route the user to the logIn/Register new user page
*/
const router = useRouter();

/**
 * Method to move the user from the home page to the logIn/Create user page
 */
const navigateToLogIn = () => {
  router.push('/LogIn');
}
</script>

<template>
  <div class = "TavernSplashScreen">
      <div class = overlay>
        <h1 id = "WelcomeText">
          Welcome to Tavern Brawl!
        </h1>
      </div>
      <div class = "GetStartedBtnDiv">
        <button id = "GetStartedBtn" @click = "navigateToLogIn()">Get Started!</button>
      </div>
  </div>
</template>

<style scoped>

  .TavernSplashScreen{
    background-image: url("../../assets/TavernSplashScreen.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh;
  }

  .overlay {
    margin: 3vh;
    padding: 4vh;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .GetStartedBtnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #GetStartedBtn{
    background-color: var(--color-button);
    border: 0;
    color: var(--color-text-light);
    padding: 3vh;
    font-size: 3vh;
  }

  #GetStartedBtn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #WelcomeText{
    color: var(--color-text-light);
    font-size: 3vh;
    text-align: center;
  }


</style>