<script setup lang="ts">
import { useRouter } from 'vue-router'
import { selectedQuizStore} from '@/stores/SelectedQuizStore'
import { ref } from 'vue'
import axios from 'axios'

/**
 * Initiates the router so that other methods can call router.push()
 */
const router = useRouter();

/**
 * Initializes an array to hold the 6 random quizzes that this component fetches"
 */
const Quizzes = ref<any[]>([]);

/**
 * Declares the config that will be sent with different axios calls to the backend
 */
const config = {
  headers: {
    'Content-Type': 'Application/json',
  }
}

/**
 * Navigates the user to the SelectedQuiz page
 */
const navigateToSelectedQuiz = (id: number) => {
  selectedQuizStore().setSelectedQuizId(id)
  router.push('/SelectedQuiz');
}

/**
 * A function that initiates the Quizzes array with 6 random quizzes. Gets the random selection from the
 * backend by sending the backend an axios get request with the config attached. The method then makes sure
 * to map the necessary fields of each quiz so that they can be neatly presented in the Ul element.
 */
async function getRandomQuizzes() {
  try {
    const result = await axios.get("http://Localhost:8080/api/quiz/get/random/paginated", config);
    Quizzes.value = result.data;

    if (Array.isArray(Quizzes.value)) {
      Quizzes.value.map(entry => entry.name);
      Quizzes.value.map(entry => entry.description);
      Quizzes.value.map(entry => entry.id);
    } else {
      console.error("Quizzes is not an array");
    }
  } catch (error) {
    console.error("Error fetching quizzes:", error);
    Quizzes.value = [];
  }
}

/**
 * Runs the getRandomQuizzes method when the component is mounted, ensuring that the random quizzes
 * are initiated when a user visits the Home view
 */
getRandomQuizzes()
</script>

<template>
  <div id = "quizView">
    <header id = "heading">6 Random Quizzes</header>
    <div id = "QuizGallery">
      <ul class="item-list">
        <li v-for="(quiz, index) in Quizzes" :key="index">
          <div id="QuizInfo">
            <button class="QuizButton" @click="navigateToSelectedQuiz(quiz.id)"></button>
            <h1 id="QuizTitle">{{ quiz.name }}</h1>
            <h1 id="QuizDescription">{{ quiz.description }}</h1>
          </div>
        </li>
      </ul>
    </div>
  </div>

</template>

<style scoped>
#quizView{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#heading{
  margin: 3vh;
  font-size: 4vh;
  text-decoration: underline;
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-list li {
  flex-basis: 33.33%; /* 3 items per row */
  box-sizing: border-box;
  text-align: center;
}

.QuizButton{
  background-image: url("../../assets/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 22vh;
  width: 22vw;
  color: var(--color-text-light);
}


#QuizTitle{
  font-size: 2vh;
  font-weight: 700;
}

#QuizDescription{
  font-size: 2vh;
}

#QuizInfo{
  margin: 2vh;
}

@media only screen and (max-width: 1201px) {

  .item-list li {
    flex-basis: 100%; /* 1 items per row */
    box-sizing: border-box;
    text-align: center;
  }

  .QuizButton{
    width: 90vw;
  }
}
</style>