<script setup lang="ts">

import { ref } from 'vue'
import axios from 'axios'
import { TokenStore } from '@/stores/TokenStore'
import { useLoginStateStore } from '@/stores/LogInStateStore'
import { useRouter } from 'vue-router'

//Initiates the router
const router = useRouter()

//Initiates a ref array of Quizzes
const Quizzes = ref<any[]>([]);

//Decides if the user info is visible
const InfoVisible = ref(true);

//Decides if the user's quiz history is visible
const HistoryVisible = ref(false);

/**
 * Makes the user info visible whilst also hiding the user's quiz history (For mobile)
 */
function showInfo() {
  InfoVisible.value = true;
  HistoryVisible.value = false;
}

/**
 * Makes the user's quiz history visible whilst also hiding the user info (For mobile)
 */
function showHistory() {
  InfoVisible.value = false;
  HistoryVisible.value = true;
}

/**
 * Makes sure that both user info and user history is visible at the same time
 * when the screen is considered large enough
 */
function handleWindowSize() {
  const screenWidth = window.innerWidth;
  if (screenWidth > 1200) {
    InfoVisible.value = true;
    HistoryVisible.value = true;
  }
}

//Makes sure the window size check happens at component mount
handleWindowSize();

//Initializes a name ref allowing for dynamic updates
const name = ref()

//Initializes an email ref allowing for dynamic updates
const email = ref()

/**
 * A method to get a user's userinfo and quiz history. Performs an axios get request to the backend with an
 * attached config file containing the user's JWT token
 */
async function getUserInformation(){

  const config = {
    headers: {
      'Authorization': 'Bearer ' + TokenStore().getToken()
    }
  }

  const response = await axios.get("http://Localhost:8080/api/user", config)

  email.value = response.data.email;

  name.value = response.data.username;

  Quizzes.value = response.data.attempts

}

/**
 * A method for checking if a user has a valid login session.
 * Sends the user to the LogIn page if login session is invalid
 */
async function checkLogIn(){

  const config = {
    headers: {
      'Authorization': 'Bearer ' + TokenStore().getToken()
    }
  }

  try {
    const response = await axios.get("http://Localhost:8080/api/auth/test", config)
  } catch (error){
    useLoginStateStore().setState(false)
    await router.push("/LogIn")
  }

}

//Ensures that the check for valid login session happens at component mount
checkLogIn()

//Ensures that the user information is gained at component mount
getUserInformation()
</script>

<template>
  <div id = "MobileButtons">
    <button id = "InfoButton" @click="showInfo()">User Info</button>
    <button id = "HistoryButton" @click="showHistory()">Quiz History</button>
  </div>
  <h1 id = "UserPageHeading">{{ name }} 's page</h1>
  <div id = "userPage">
    <div id = "UserInfoDiv" v-show="InfoVisible">
      <div>
        <div id = "NameDiv">
          <h1 id ="Name">Username: {{ name }}</h1>
        </div>
        <div id="HorizontalLine"></div>
        <div id = "EmailDiv">
          <h1 id = "Email">Email: {{ email }}</h1>
        </div>
        <div id="HorizontalLine"></div>
      </div>
    </div>
    <div id = "UserHistoryDiv" v-show="HistoryVisible">
      <h1 id = "HistoryTitle">History</h1>
      <ul class = "item-list">
        <li v-for="(Quiz, index) in Quizzes" :key="index">
          <div id = "QuizInfo">
            <h1 id="QuizTitle">{{Quiz.quizName}}:</h1>
            <h1 id = "QuizScore">{{ Quiz.score }}</h1>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>

#MobileButtons{
  display: none;
  width: 100%;
}

#HorizontalLine {
  border-top: 3px solid #000;
  width: 30vw;
  margin-left: 7vw;
}

#InfoButton, #HistoryButton{
  background-color: var(--color-button);
  color: var(--color-text-light);
  width: 50vw;
  height: 10vh;
  font-size: 3vh;
}

#QuizTitle, #QuizScore{
  color: var(--color-text-light);
  margin: 1vw;
}

#HistoryTitle{
  color: var(--color-text-light);
  margin-top: 1vh;
}

#QuizInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

  #UserPageHeading{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #UserHistoryDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-banner);
    margin: 6vh;
    border-radius: 10px;
  }

  .item-list{
    margin: 4vh;
    overflow: auto;
    height: 50vh;
    min-width: 30vw;
    color: var(--color-text-light)
  }

  #userPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #UserInfoDiv{
    margin-left: 8vh;
  }

  #NameDiv, #EmailDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8vw;
    min-width: 30vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }


@media only screen and (max-width: 1201px) {

  #UserPageHeading{
    margin: 2vh;
  }

  #UserInfoDiv{
    width: 100%;
    margin-left: 1vw;
  }

  #NameDiv, #EmailDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    min-width: 95vw;
  }

  #HorizontalLine {
    border-top: 3px solid #000;
    width: 90vw;
    margin-left: 2.5vw;
  }
  #MobileButtons{
    display: flex;
    width: 100%;
  }

  #UserHistoryDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-banner);
    margin: 1vw;
    border-radius: 10px;
  }

  .item-list{
    margin: 4vh;
    overflow: auto;
    height: 45vh;
    color: var(--color-text-light)
  }

  #userPage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>