<script setup lang="ts">
import { ref, watch } from 'vue'
import { computed } from 'vue';
import { SlideStore } from '@/stores/QuizSlideStore'
import type { Slide } from '@/components/Slide'

// Defines props necessary for changing the slide in the slide editor
const props = defineProps<{
  selectedSlideIndex: number | null
}>()

const slideStore = SlideStore();

//Changes slide to new slide
const selectedSlide = computed(() => {
  const index = props.selectedSlideIndex;
  if (index !== null && index >= 0 && index < slideStore.slides.length) {
    return slideStore.slides[index];
  } else {
    return null;
  }
});

watch(selectedSlide, (newSlide: Slide | null) => {
  if (newSlide) {
    question.value = newSlide.question;
    option1.value = newSlide.answers[0] || '';
    option2.value = newSlide.answers[1] || '';
    option3.value = newSlide.answers[2] || '';
    option4.value = newSlide.answers[3] || '';
    ActiveOptions.value = newSlide.activeAnswers;
    CorrectAnswers.value = newSlide.correctAnswers;
  } else {
    question.value = '';
    option1.value = '';
    option2.value = '';
    option3.value = '';
    option4.value = '';
  }
});

//Decides if the answers are visible or not
const AnswersVisible = ref(true);

//Decides if the answer options are visible or not
const AnswerOptionsVisible = ref(false);

//Initializes question as a ref allowing for dynamic updating
const question = ref("");

//Initializes option1 as a ref allowing for dynamic updating
const option1 = ref("")

//Initializes option2 as a ref allowing for dynamic updating
const option2 = ref("")

//Initializes option3 as a ref allowing for dynamic updating
const option3 = ref("")

//Initializes option4 as a ref allowing for dynamic updating
const option4 = ref("")

//Initializes an array of active options allowing for dynamic updating
const ActiveOptions = ref<boolean[]>([]);

//Initializes an array of correct answers allowing for dynamic updating
const CorrectAnswers = ref<boolean[]>([]);

/**
 * Makes the answers visible whilst hiding the Answer options
 */
function ShowAnswers() {
  AnswersVisible.value = true;
  AnswerOptionsVisible.value = false;
}

/**
 * makes the answer options visible whilst hiding the answers
 */
function ShowAnswerOptions() {
  AnswersVisible.value = false;
  AnswerOptionsVisible.value = true;
}

/**
 * Updates the value of the question ref
 * @param event updates when input changes
 */
function updateQuestion(event: Event) {
  const target = event.target as HTMLDivElement;
  question.value = target.innerText;
}

/**
 * Updates the value of an options ref
 * @param event updates when the input changes
 * @param option the option ref number to change
 */
function updateOption(event: Event, option: number){
  const target = event.target as HTMLDivElement;
  switch(option) {
    case 1:
      option1.value = target.innerText;
      break;
    case 2:
      option2.value = target.innerText;
      break;
    case 3:
      option3.value = target.innerText;
      break;
    case 4:
      option4.value = target.innerText;
      break;
    default:
      break;
  }
}

/**
 * Updates the correct answers in the correct answers ref array
 * @param event updates when the input changes
 * @param index index in array to change
 */
function updateCorrectAnswer(event: Event, index: number) {
  CorrectAnswers.value[index] = (event.target as HTMLInputElement).checked;
}

/**
 * Updates the active answers in the Active options ref array
 * @param event updates when the input changes
 * @param index index in array to change
 */
function updateActiveOption(event: Event, index: number) {
  ActiveOptions.value[index] = (event.target as HTMLInputElement).checked;
}

/**
 * Watches for changes in values and ensures that the slideStore reflects the changes
 */
watch([question, option1, option2, option3, option4, CorrectAnswers, ActiveOptions], () => {
  if (props.selectedSlideIndex !== null) {
    slideStore.slides[props.selectedSlideIndex] = {
      question: question.value,
      answers: [option1.value, option2.value, option3.value, option4.value],
      correctAnswers: CorrectAnswers.value,
      activeAnswers: ActiveOptions.value
    };
  }
});
</script>

<template>
  <div id = "Preview">
    <div id = "QuestionArea">
      <div class = overlay>
        <h1 id = "Question" contenteditable="true" @input="updateQuestion($event)">
          {{ question }}
        </h1>
      </div>
    </div>
    <div id = "MobileSubButtons">
      <button id = "AnswersButton" @click="ShowAnswers()">Answers</button>
      <button id = "AnswersOptionButton" @click="ShowAnswerOptions()">Answer Options</button>
    </div>
    <div id = "answers" v-show="AnswersVisible">
      <div id = "FirstAnswerRow">
        <div id = "FirstButton" class = "AnswerButton" contenteditable="true" @input="updateOption($event,1)">{{option1}}</div>
        <div id = "SecondButton" class = "AnswerButton" contenteditable="true" @input="updateOption($event,2)">{{option2}}</div>
      </div>
      <div id = "SecondAnswerRow">
        <div id = "ThirdButton" class = "AnswerButton" contenteditable="true" v-show="ActiveOptions[2]" @input="updateOption($event,3)">{{option3}}</div>
        <div id = "FourthButton" class = "AnswerButton" contenteditable="true" v-show="ActiveOptions[3]" @input="updateOption($event,4)">{{option4}}</div>
      </div>
    </div>
    <div id = "AnswerOption" v-show="AnswerOptionsVisible">
      <div id = "FirstAnswerRow">
        <div id = "FirstButton" class = "AnswerButton">
          <h1 class = "CorrectTag">Correct:</h1>
          <input type="checkbox" class = "Checkbox" v-model="CorrectAnswers[0]" @input="updateCorrectAnswer($event, 0)">
        </div>
        <div id = "SecondButton" class = "AnswerButton">
          <h1 class = "CorrectTag">Correct:</h1>
          <input type="checkbox" class = "Checkbox" v-model="CorrectAnswers[1]" @input="updateCorrectAnswer($event, 1)">
        </div>
      </div>
      <div id = "SecondAnswerRow">
        <div id = "ThirdButton" class = "AnswerButton">
          <h1 class = "CorrectTag">Correct:</h1>
          <input type="checkbox" class = "Checkbox" v-model="CorrectAnswers[2]" @input="updateCorrectAnswer($event, 2)">
          <h1 class = "CorrectTag">Active:</h1>
          <input type="checkbox" class = "Checkbox" v-model="ActiveOptions[2]" @input="updateActiveOption($event, 2)">
        </div>
        <div id = "FourthButton" class = "AnswerButton">
          <h1 class = "CorrectTag">Correct:</h1>
          <input type="checkbox" class = "Checkbox" v-model="CorrectAnswers[3]" @input="updateCorrectAnswer($event, 3)">
          <h1 class = "CorrectTag">Active:</h1>
          <input type="checkbox" class = "Checkbox" v-model="ActiveOptions[3]" @input="updateActiveOption($event, 3)">
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#Preview{
  border: 2px solid #000;
}

.CorrectTag{
  font-size: 2vh;
  margin: 1vh;
}

.Checkbox{
  transform: scale(1.5);
}

#AnswersButton, #AnswersOptionButton{
  width: 50%;
  height: 6vh;
  background-color: var(--color-button);
  color: var(--color-text-light);
  font-size: 2vh;
  font-weight: 700;
}

#FirstAnswerRow, #SecondAnswerRow{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#FirstButton{
  background-image: url("../../assets/YellowButton.gif");
  padding-left: 18vh;
}

#SecondButton{
  background-image: url("../../assets/BlueButton.gif");
  padding-right: 18vh;
}

#ThirdButton{
  background-image: url("../../assets/GreenButton.gif");
  padding-left: 18vh;
}

#FourthButton{
  background-image: url("../../assets/RedButton.gif");
  padding-right: 18vh;
}

.AnswerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 4;
  border: 0;
  font-size: 2vh;
  font-weight: 700;
  color: var(--color-text-light);
  text-align: center;
}

#QuestionArea{
  background-image: url("../../assets/TavernSplashScreen.jpg");
  padding: 3vh;
}

#Question{
  color: var(--color-text-dark);
  font-size: 3vh;
  text-align: center;
}

.overlay {
  margin: 2vh;
  padding: 2vh;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1201px) {

  .overlay{
    height: 20vh;
  }

  .AnswerButton{
    width: 50vh;
  }
}
</style>