<script setup lang="ts">

import axios from 'axios'
import { SlideStore } from '@/stores/QuizSlideStore';
import { ref } from 'vue'

const slideStore = SlideStore()

// Initializes quizName with a reference to the quiz name value in the slideStore
const quizName = ref(slideStore.QuizName)

//Initializes quizDescription with a reference to the quiz description value in the slidStore
const quizDescription = ref(slideStore.QuizDescription)

//Initializes quizTag with a reference to the quiz tag value in the slideStore
const quizTag = ref(slideStore.QuizTag)

//Initializes quizDifficulty with a reference to the quiz difficulty in the slideStore
const quizDifficulty = ref(slideStore.QuizDifficulty)

/**
 * Updates the quiz name value in the slide store to a new value
 * @param event triggers when input is changed
 */
const updateQuizName = (event: Event) => {
  const inputElement = event.target as HTMLInputElement;
  slideStore.SetQuizName(inputElement.value);
};

/**
 * Updates the quiz description value in the slide store to a new value
 * @param event triggers when input is changed
 */
const updateQuizDescription = (event: Event) => {
  const inputElement = event.target as HTMLInputElement;
  slideStore.SetQuizDescription(inputElement.value);
};

/**
 * Updates the quiz difficulty in the slide store to a new value
 */
const updateQuizDifficulty = () => {
  slideStore.SetQuizDifficulty(quizDifficulty.value.toString())
};

/**
 * Updates the quiz tag in the slide store to a new value
 */
const updateQuizTag = () => {
  slideStore.SetQuizTag(quizTag.value)
}

// Initializes an array to hold tag options
const TagList = ref<any[]>([]);

/**
 * Gets a list of all possible tags a user can add to a quiz from the backend
 * and updates the TagList value to be equal to the response array
 */
async function getQuizTag() {
  try {
    const response = await axios.get("http://localhost:8080/api/tag");
    TagList.value = response.data;
  } catch (error) {
    console.error("Error fetching quiz tags:", error);
  }
}

//Makes sure the quizTags list gets all tags from the backend at component mount
getQuizTag()

</script>

<template>
  <div id = "QuizInfoView">
    <div id = "QuizNameDiv">
      <label for = "QuizNameInput" id = "QuizNameLabel">Quiz Name</label>
      <input class="Input" id="QuizNameInput" placeholder="Enter Quiz Name" v-model="quizName" @input="updateQuizName">
    </div>
    <div id = "QuizDescriptionDiv">
      <label for = "QuizDescriptionInput" id = "QuizDescriptionLabel">Description</label>
      <input class="Input" id="QuizDescriptionInput" placeholder="Enter Description" v-model="quizDescription" @input="updateQuizDescription">
    </div>
    <div id = "QuizTagsDiv">
      <label for = "QuizTagsInput" id = "QuizTagsLabel">Quiz Tag</label>
      <select class="Input" id="QuizTagsInput" v-model="quizTag" @change="updateQuizTag">
        <option v-for="(tag, index) in TagList" :key="index" :value="tag.id">{{ tag.tag }}</option>
      </select>
    </div >
    <div id = "QuizRatingDiv">
      <label for = "QuizRatingInput" id = "QuizRatingLabel">Difficulty</label>
      <select class="Input" id="QuizRatingInput" v-model="quizDifficulty" @change="updateQuizDifficulty">
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
      </select>
    </div>
  </div>
</template>

<style scoped>
#QuizInfoView{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Brick.png");
  border: 2px solid #000;
  padding-bottom: 1.5vh;
}

#QuizNameDiv, #QuizTagsDiv, #QuizDescriptionDiv, #QuizRatingDiv{
  margin: 1vh;
}

.Input{
  width: 40vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

label{
  font-size: 3vh;
  color: var(--color-text-light);

}

@media only screen and (max-width: 1201px) {

  #QuizNameDiv, #QuizTagsDiv, #QuizDescriptionDiv, #QuizRatingDiv{
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}
</style>