<script setup lang="ts">

import BrowseQuizes from '@/components/BrowseQuizComponents/BrowseQuizes.vue'
import PageFooter from '@/components/PageFooter.vue'
</script>

<template>
  <main>
    <BrowseQuizes></BrowseQuizes>
    <PageFooter></PageFooter>
  </main>
</template>

<style scoped>

</style>