<script setup lang="ts">
/**
 * Imports all the necessary components that comprise the home view page.
 * The home view page is the first page a user reaches and contains buttons for
 * navigating to logIn, CreateQuiz, Browse Quizzes and My Quizzes
 */
import HomeInfo from '@/components/HomeComponents/HomeInfo.vue'
import HomeButtons from '@/components/HomeComponents/HomeButtons.vue'
import RandomQuizes from '@/components/HomeComponents/RandomQuizes.vue'
import PageFooter from '@/components/PageFooter.vue'
</script>

<template>
  <main>
    <HomeInfo/>
    <HomeButtons />
    <RandomQuizes />
    <PageFooter />
  </main>
</template>

