<script setup lang="ts">
/**
 * Imports all the necessary components for the LogIn page.
 * Present the user with a choice of logging in with a pre-existing user or
 * creating a new user
 */
import PageFooter from '@/components/PageFooter.vue'
import LogIn from '@/components/LogInComponents/LogIn.vue'
</script>

<template>
  <main>
    <LogIn />
    <page-footer/>
  </main>
</template>

<style scoped>
</style>