<script setup lang="ts">

import QuizInfo from '@/components/MakeQuizComponents/QuizInfo.vue'
import PageFooter from '@/components/PageFooter.vue'
import QuizSlide from '@/components/MakeQuizComponents/QuizSlide.vue'
import QuizSlidesOverview from '@/components/MakeQuizComponents/QuizSlidesOverview.vue'
import { onMounted, ref } from 'vue'
import { SlideStore } from '@/stores/QuizSlideStore';

const slideStore = SlideStore();

//Holds the index of the selected slide
const selectedSlideIndex = ref<number | null>(null);

/**
 * A method for updating the selected slide index
 * @param index new index
 */
const selectSlide = (index: number) => {
  selectedSlideIndex.value = index;
};

//Gets all slides associated with a given quiz from the slidStore
const slides = slideStore.slides;

/**
 * Initially selects the first slide when makeQuiz component is mounted
 */
onMounted(() => {
  if (slides.length > 0) {
    selectedSlideIndex.value = 0;
  }
});

//Decides if the general information part of the component is visible or not (For mobile)
const generalInformationVisible = ref(true);

//Decides if the editor part of the component is visible or not (For mobile)
const slideEditorVisible = ref(false);

//Decides if the slide overview part of the component is visible or not (For mobile)
const slideOverviewVisible = ref(false);

/**
 * Makes the general information visible whilst hiding the other two.
 * Helps make the application more usable for mobile users
 */
function showGeneralInformation() {
  generalInformationVisible.value = true;
  slideEditorVisible.value = false;
  slideOverviewVisible.value = false
}

/**
 * Makes the slide editor visible whilst hiding the other two.
 * Helps make the application more usable for mobile users
 */
function showSlideEditor() {
  generalInformationVisible.value = false;
  slideEditorVisible.value = true;
  slideOverviewVisible.value = false;
}

/**
 * Makes the slide overview visible whilst hiding the other two.
 * Helps make the application more usable for mobile users
 */
function showSlideOverview() {
  generalInformationVisible.value = false;
  slideEditorVisible.value = false;
  slideOverviewVisible.value = true;
}

</script>

<template>
  <main>
    <div id = "MobileButtons">
      <button class = "MobileButton" @click = "showGeneralInformation()">General Information</button>
      <button class = "MobileButton" @click = "showSlideOverview()">Slide Overview</button>
      <button class = "MobileButton" @click = "showSlideEditor()">Slide Editor</button>
    </div>
    <div id = "QuizInfo" v-show="generalInformationVisible">
      <QuizInfo/>
    </div>
    <div id = "QuestionArea">
      <div id = "QuizSlide" v-show="slideEditorVisible">
        <header id = "SlideHeader">Slide Editor</header>
        <QuizSlide id = "QuizSlide" :selectedSlideIndex="selectedSlideIndex"/>
      </div>
      <div id = "SlideOverview" v-show = "slideOverviewVisible">
        <header id = "SlidesHeader">Slides</header>
        <QuizSlidesOverview id = "QuizSlidesOverview" :slides="slides" @slideSelected="selectSlide"/>
      </div>
    </div>
    <PageFooter/>
  </main>
</template>

<style scoped>

#MobileButtons{
  display: none;
}

.MobileButton{
  font-size: 2vh;
  padding: 2vh;
  width: 33.3%;
  background-color: var(--color-button);
  color: var(--color-text-light);
}

#QuizSlide{
  width: 54vw;
}

#SlideOverview{
  width: 46vw;
  display: block;
  justify-content: center;
}

#QuestionArea{
  max-width: 100vw;
  display: flex;
  justify-content: center;
  border: 2px solid #000;
}

#SlidesHeader, #SlideHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  background-color: var(--color-banner);
  color: var(--color-heading-light);
}

@media only screen and (max-width: 1201px) {

  #MobileButtons{
    display: flex;
  }

  #SlideHeader, #SlidesHeader{
    display: none;
  }

  #QuizSlide{
    max-width: 100vw;
    width: 100vw;

  }

  #SlideOverview{
    width: 100vw;
  }
}

@media only screen and (min-width: 1202px) {
  #QuizInfo,
  #QuizSlide,
  #SlideOverview {
    display: block !important;
  }
}

</style>