<script setup lang="ts">

import SelectedQuiz from '@/components/SelectedQuizComponents/SelectedQuiz.vue'
import PageFooter from '@/components/PageFooter.vue'
</script>

<template>
  <main>
    <SelectedQuiz/>
    <PageFooter />
  </main>
</template>

<style scoped>

</style>