<script setup lang="ts">

import TakeQuiz from '@/components/TakeQuizComponents/TakeQuiz.vue'
import PageFooter from '@/components/PageFooter.vue'
</script>

<template>
  <main>
    <TakeQuiz/>
    <PageFooter/>
  </main>
</template>

<style scoped>

</style>