<script setup lang="ts">

import UserComponent from '@/components/UserComponents/UserComponent.vue'
import PageFooter from '@/components/PageFooter.vue'
</script>

<template>
  <main>
    <UserComponent/>
    <PageFooter/>
  </main>
</template>

<style scoped>

</style>