<script setup lang="ts">
import { useRouter } from 'vue-router'
import { ref } from 'vue'
import {BrowseQuizStore} from '@/stores/BrowseQuizStore'

//Initializes the router
const router = useRouter();

/**
 * Allows the user to navigate to the home page
 */
const navigateToHome = () => {
  router.push('/');
}

//Sets if the hamburger menu options should be visible
const hamburgerVisible = ref(false)

/**
 * Toggles the visibility of the links in the hamburger menu
 */
function toggleHamburger(){
  hamburgerVisible.value = !hamburgerVisible.value;
}


</script>

<template>
  <div class = Banner>
    <img alt="Vue logo" class="logo" src="@/assets/logo.png" width="75" height="75" @click="navigateToHome()"/>
    <header class="Name">Tavern Brawl</header>
    <button class = "menuButton" @click="toggleHamburger()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </div>
  <div id = "HamburgerLinks" v-show="hamburgerVisible">
    <ul>
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="/LogIn">LogIn</router-link></li>
      <li><router-link to="/MakeQuiz">Create Quiz</router-link></li>
      <li><router-link to="/BrowseQuizes" @click="BrowseQuizStore().setAccessedFrom('Browse Quizzes')">Browse Quizzes</router-link></li>
      <li><router-link to="/BrowseMyQuizes" @click="BrowseQuizStore().setAccessedFrom('My Quizzes')">My Quizzes</router-link></li>
      <li><router-link to="/User">User Page</router-link></li>
    </ul>
  </div>
</template>

<style scoped>
#HamburgerLinks{
  background-color: var(--color-button);
  color: var(--color-text-light);
  font-size: 2.5vh;
  position: sticky;
  top: 75px;
  z-index: 1;
}

.logo {
  display: block;
  padding: 5px;
}

.Banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-banner);
  min-width: 100%;
  min-height: 75px;
  max-height: 75px;
  position: sticky;
  top: 0;
  z-index: 1;


  .Name{
    color: var(--color-heading-light);
    font-size: 3vh;
    text-align: center;
  }

  .menuButton{
    background-color: var(--color-button);
    padding: 5px;
    border: 0;
    min-width: 60px;
    min-height: 60px;
    margin: 5px;
  }

  .menuButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-heading-light);
    margin: 5px auto;
  }

}

@media (min-width: 1024px) {
  .logo {
    margin: 0 2rem 0 0;
  }

}
</style>