<script setup lang="ts">
import {BrowseQuizStore} from '@/stores/BrowseQuizStore'
</script>

<template>
  <footer id = "FooterView">
    <div>
      <h1 id = "NavigationHeading">Quick Navigation</h1>
      <div id = "NavigationLinks">
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/LogIn">LogIn</router-link></li>

        </ul>
        <ul>
          <li><router-link to="/User">User</router-link></li>
          <li><router-link to="/BrowseQuizes" @click="BrowseQuizStore().setAccessedFrom('Browse Quizzes')">Browse Quizes</router-link></li>
        </ul>
        <ul>
          <li><router-link to="/BrowseMyQuizes" @click="BrowseQuizStore().setAccessedFrom('My Quizzes')">Browse My Quizes</router-link></li>
          <li><router-link to="/MakeQuiz">Make Quiz</router-link></li>
        </ul>
      </div>
    </div>

  </footer>
</template>

<style scoped>

#FooterView{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-footer);
  padding: 1vh;
}

#NavigationHeading{
  margin: 1vh;
  font-size: 2vh;
  color: var(--color-banner);
}

#NavigationLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

</style>