<script setup lang="ts">

import { useRouter } from 'vue-router'
import axios from 'axios'
import { ref } from 'vue'
import {BrowseQuizStore} from '@/stores/BrowseQuizStore'
import { TokenStore } from '@/stores/TokenStore'
import { useLoginStateStore } from '@/stores/LogInStateStore'
import {selectedQuizStore} from '@/stores/SelectedQuizStore'

//Initializes the router
const router = useRouter();

//Initializes a ref array to hold the quizzes
const Quizzes = ref<any[]>([]);

//Initializes a ref to hold the tag value
const quizTag = ref("")

//Tells the component from which view the component is accessed
const browseHeading = BrowseQuizStore().AccessedFrom

/**
 * Navigates the user to the quiz they click on and updates the selected quiz store
 * to hold the id of the selected quiz
 * @param id id of the selected quiz
 */
function navigateToSelectedQuiz(id :number){
  selectedQuizStore().setSelectedQuizId(id)
  router.push('/SelectedQuiz');
}

/**
 * Checks if the user has a valid logIn session. And routes the user back to the
 * LogIn page if session is invalid
 */
async function checkLogIn(){

  const config = {
    headers: {
      'Authorization': 'Bearer ' + TokenStore().getToken()
    }
  }

  try {
    const response = await axios.get("http://Localhost:8080/api/auth/test", config)
  } catch (error){
    useLoginStateStore().setState(false)
    await router.push("/LogIn")
  }
}

/**
 * Gets a paginated list of quizzes from the backend. Based on from where this component was
 * accessed the quizzes that are fetched vary. Additionally allows for searching with tags
 * @param page the current page number
 * @param size the amount of quizzes to be shown on the page
 */
async function getQuizzes(page:number, size:number){

  if(BrowseQuizStore().AccessedFrom === "Browse Quizzes"){
    const config = {
      headers: {
        'Content-Type': 'Application/json',
      }
    }

    if(quizTag.value === ""){
      const result = await axios.post("http://Localhost:8080/api/quiz/get/paginated", { page: page - 1, size: size }, config);
      Quizzes.value = result.data;
    } else {
      const tags = [quizTag.value]
      const result = await axios.post("http://Localhost:8080/api/quiz/get/paginated", { page: page - 1, size: size, tagIds: tags}, config);
      Quizzes.value = result.data
    }
  } else {
    await checkLogIn();

    const config = {
      headers: {
        'Content-Type': 'Application/json',
        'Authorization': 'Bearer ' + TokenStore().getToken()
      }
    }

    if(quizTag.value === ""){
      const result = await axios.post("http://Localhost:8080/api/quiz/get/paginated/user", { page: page - 1, size: size }, config);
      Quizzes.value = result.data;
    } else {
      const tags = [quizTag.value]
      const result = await axios.post("http://Localhost:8080/api/quiz/get/paginated/user", { page: page - 1, size: size , tagIds: tags}, config);
      Quizzes.value = result.data
    }
  }


  if (Array.isArray(Quizzes.value)) {
    Quizzes.value.map(entry => entry.name);
    Quizzes.value.map(entry => entry.description);
    Quizzes.value.map(entry => entry.id);
  } else {
    console.error("Quizzes is not an array");
  }
}

//Initializes a list to hold potential tags
const TagList = ref<any[]>([]);

/**
 * Gets a list of all possible tags a quiz can have from the backend and adds them to the TagList
 */
async function getQuizTag() {
  try {
    const response = await axios.get("http://localhost:8080/api/tag");
    TagList.value = response.data;
  } catch (error) {
    console.error("Error fetching quiz tags:", error);
  }
}

//Sets a default page number
const page = ref(1)

//Sets a default number of quizzes to show per page
const items = ref(12)

/**
 * Lets the user switch to the next page of quizzes
 */
function incrementPage(){
  page.value = page.value + 1
  getQuizzes(page.value, items.value)
}

/**
 * Lets the user switch to the previous page of quizzes
 */
function decrementPage(){
  if(page.value > 1){
    page.value = page.value -1
    getQuizzes(page.value, items.value)
  }

}

//Ensures quizzes are received on component mount
getQuizzes(page.value ,items.value)

//Ensures the list of tags is set on component mount
getQuizTag()

</script>

<template>
  <div id = "QuizzesView">
    <h1 id = "QuizzesTitle">{{ browseHeading }}</h1>
    <div id = "Tools">
      <select class="Input" id="TagSearchBar" v-model="quizTag" @change="getQuizzes(1, items)">
        <option value="">Select a tag to search for corresponding quizzes</option>
        <option v-for="(tag, index) in TagList" :key="index" :value="tag.id">{{ tag.tag }}</option>
      </select>
      <div id = "PageTool">
        <button id = "LeftButton" @click="decrementPage"></button>
        <input id = "PageView" v-model="page" readonly/>
        <button id = "RightButton" @click="incrementPage"></button>
      </div>
    </div>
    <ul class = "item-list">
      <li v-for="(quiz, index) in Quizzes" :key="index">
        <div id = "QuizInfo">
          <button class="QuizButton" @click="navigateToSelectedQuiz(quiz.id)"></button>
          <h1 id = "QuizTitle">{{ quiz.name }}</h1>
          <h1 id = QuizDescription>{{ quiz.description }}</h1>
        </div>
      </li>
    </ul>
  </div>
</template>

<style scoped>




#QuizzesView{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#Tools{
  max-width: 100vw;
  display: flex;
  align-items: center;
}

#LeftButton, #RightButton{
  height: 4vh;
  width: 4vh;
  vertical-align: middle;
  background-image: url("../../assets/Arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#LeftButton{
  transform: scaleX(-1);
}

#PageView{
  height: 4vh;
  width: 4vh;
  max-width: 4vh;
  text-align: center;
}

#PageTool{
  margin: 2vh;
}


#QuizzesTitle{
  text-decoration: underline;
  margin: 2vh;
}

#TagSearchBar{
  width: 60vw;
  height: 5vh;
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-list li {
  flex-basis: 33.33%; /* 3 items per row */
  box-sizing: border-box;
  text-align: center;
}

.QuizButton{
  background-image: url("../../assets/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 22vh;
  width: 22vw;
  color: var(--color-text-light);
}


#QuizTitle{
  font-size: 2vh;
  font-weight: 700;
}

#QuizDescription{
  font-size: 2vh;
}

#QuizInfo{
  margin: 2vh;
}
</style>