<script setup lang="ts">
import { selectedQuizStore } from '@/stores/SelectedQuizStore'
import { TokenStore } from '@/stores/TokenStore'
import axios from 'axios'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

//Initializes the router
const router = useRouter();



// Contains the shown title of the selected quiz
let title = ref("");

// Contains the shown description of the selected quiz
let description = ref("");

/**
 * Fetches a quiz from the backend by sending the quiz id to the backend
 * @param id id of quiz to get
 */
function fetchQuiz(id:number) {
  axios({
    method: 'post',
    url: 'http://localhost:8080/api/quiz',
    data: {
      quizId: id
    }
  }).then(res => {
    title.value = res.data.name;
    description.value = res.data.description;
  });
}

//Ensures a quiz get fetched on component mount. Get the id to send from the selected quiz store
fetchQuiz(selectedQuizStore().getSelectedQuizId())



/**
 * The function that gets called by the start button
 */
async function startButton() {
  await startSelectedQuiz(selectedQuizStore().getSelectedQuizId());
}

/**
 * Starts a quiz session in the backend, running the selected quiz
 * @param quizId the quiz id to start a session for
 */
async function startSelectedQuiz(quizId:number) {

  await axios({
    method: 'put',
    url: 'http://localhost:8080/api/quiz/session/new',
    headers: {
      Authorization: "Bearer " + TokenStore().getToken()
    },
    data: {
      quizId: quizId
    }
  });


  navigateToSelectedQuiz();
}

/**
 * Navigates the user to the takeQuiz page
 */
const navigateToSelectedQuiz = () => {
  router.push('/TakeQuiz');
}


</script>

<template>
  <div id = "SelectedQuizView">
    <h1 id = "QuizTitle">{{ title }}</h1>
    <div id = "SelectedQuizBody">
      <img src="../../assets/TavernSplashScreen.jpg" alt="QuizThumbnail" id = "Thumbnail">
      <div id = "DescriptionDiv">
        <h1 id = "Description">{{ description }}</h1>
        <div id = ButtonRow>
          <button id = "TakeQuiz" @click = startButton()>Take quiz</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#TakeQuiz, #DeleteQuiz{
  width: 20vw;
  height: 10vh;
  font-size: 4vh;
  color: var(--color-text-light);
  border: 0;
}

#TakeQuiz:hover, #DeleteQuiz:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#TakeQuiz{
  background-color: var(--color-button);;
}

#DeleteQuiz{
  background-color: var(--color-delete-button);;
}

#SelectedQuizView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#SelectedQuizBody{
  display: flex;
}

#QuizTitle{
  margin: 2vh;
}

#Thumbnail{
  max-width: 50vw;
  height: auto;
  margin: 3vh;
}

#Description{
  min-height: 50vh;
}

#DescriptionDiv{
  width: 50vw;
  display: block;
}

#ButtonRow{
  display: flex;
  justify-content: space-evenly;
  padding: 3vh;
}

@media only screen and (max-width: 1200px) {
  #SelectedQuizBody {
    flex-direction: column; /* Change flex-direction to column when screen size is reduced */
  }

  #Thumbnail{
    max-width: 100vw;
  }

  #DescriptionDiv{
    width: 100vw
  }

  #Description{
    min-height: 30vh;
  }

  #TakeQuiz, #DeleteQuiz{
    width: 40vw;
    height: 10vh;
  }
}
</style>