:root {
  --vt-c-antiqueWhite: #FAEBD7;
  --vt-c-darkBrown: #48250C;
  --vt-c-lightbrown: #eab676;
  --vt-c-darkGreen: #3E5641;
  --vt-c-lightGreen: #648C6C;
  --vt-c-darkRed: #990D35;
  --vt-c-darkBlue: #0C2444;
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-gold: #ffd743;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-antiqueWhite);
  --color-banner: var(--vt-c-lightGreen);
  --color-footer: var(--vt-c-darkGreen);
  --color-quizBackground: var(--vt-c-darkBlue);

  --color-border: var(--vt-c-darkBrown);
  --color-border-hover: var(--vt-c-lightbrown);

  --color-heading-light: var(--vt-c-white);
  --color-heading-dark: var(--vt-c-black);

  --color-text-light: var(--vt-c-white);
  --color-text-dark: var(--vt-c-black);

  --color-score: var(--vt-c-gold);

  --color-button: var(--vt-c-darkGreen);
  --color-delete-button: var(--vt-c-darkRed);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
