<script setup lang="ts">
import { RouterView } from 'vue-router'
import BannerComponent from '@/components/BannerComponent.vue'
</script>

<template id = "ViewPort">
    <BannerComponent/>
    <RouterView class = "routerView" />
</template>

<style scoped>


#ViewPort{
  display: flex;
  flex-direction: column;
}
</style>
